# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/

# Android / Gradle
.gradle/
build/
android/app/build/
android/.gradle/
android/local.properties
*.apk
*.aab

# Node
node_modules/

# OS / Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.bak
*.png
tools/
*.exe
